
@{
    ViewBag.Title = "Administration";
}

<h2>Administration</h2>

<p>
    <input type="button" value="Användare" class="btn btn-default btn-info" onclick=" location.href='@Url.Action("Index", "Account")' " />
</p>
<p>
    <input type="button" value="Grupper" class="btn btn-default btn-info" onclick=" location.href='@Url.Action("Index", "Groups")' " />
</p>
<p>
    <input type="button" value="Kurser" class="btn btn-default btn-info" onclick=" location.href='@Url.Action("Index", "Courses")' " />
</p>
<p>
    <input type="button" value="Aktiviteter" class="btn btn-default btn-info" onclick=" location.href='@Url.Action("Index", "Activities")' " />
</p>
<p>
    <input type="button" value="Dokument" class="btn btn-default btn-info" onclick=" location.href='@Url.Action("Index", "Documents")' " />
</p>