@model LearningManagementSystem.Models.Activity

@{
    ViewBag.Title = "Delete";
}

<h2>Aktivitet</h2>

@*<h3>Är du helt säker?</h3>*@
<div>
    <hr />
    <h4>Radera Aktivitet</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActivityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityEnd)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.CourseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseId)
        </dd>*@

        

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Radera" class="btn btn-default btn-danger" /> |
            @Html.ActionLink("Tillbaka", "Index")
        </div>
    }
</div>
