@model LearningManagementSystem.Models.Activity

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.ActivityName)</h2>

<div>
    @*<h4>Aktivitetsdetaljer</h4>*@
    <hr />
    <h4>@Html.DisplayFor(model => model.ActivityDescription)</h4>
    @*<dl class="dl-horizontal">*@
   <dl>
        @*<dt>
            @Html.DisplayNameFor(model => model.ActivityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityName)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.ActivityDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityDescription)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.ActivityType.ActivityTypeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActivityType.ActivityTypeName)
        </dd>*@



        @*<dt>
            @Html.DisplayNameFor(model => model.ActivityStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>*@

    </dl>
    <dl>
        @Html.Label("Typ av aktivitet: ")
        @Html.DisplayFor(model => model.ActivityType.ActivityTypeName)

    </dl>
    <dl>
        @Html.Label("Period: ")

        @Html.DisplayFor(model => model.ActivityStart) -

        @Html.DisplayFor(model => model.ActivityEnd)
    </dl>
    <dl>

        @Html.Label("Tillhör kurs: ")

        @Html.DisplayFor(model => model.Course.CourseName)


    </dl>
</div>
<p>
    @if (User.Identity.IsAuthenticated)
    {
    if (User.IsInRole("Teacher"))
    {
    @Html.ActionLink("Redigera", "Edit", new { id = Model.ActivityId })
    }
    }

    @*@Html.ActionLink("Redigera", "Edit", new { id = Model.ActivityId }) |*@
    @Html.ActionLink("Tillbaka", "Index")
</p>
