@model IEnumerable<LearningManagementSystem.Models.Activity>

@{
    ViewBag.Title = "Index";
}

<h2>Aktivitet</h2>

@*<p>
    @Html.ActionLink("Skapa aktivitet", "Create")
</p>*@

<p>
    <input type="button" value="Skapa aktivitet" class="btn btn-default btn-primary" onclick=" location.href='@Url.Action("Create","Activities")' " />
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ActivityName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ActivityDescription)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ActivityStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ActivityEnd)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CourseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ActivityTypeId)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ActivityDescription)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.ActivityStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityEnd)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.CourseId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityTypeId)
        </td>*@
        <td>
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Teacher"))
                {
                    @Html.ActionLink("Redigera", "Edit", new { id = item.ActivityId })
                }
            }
            
            |

            @*@Html.ActionLink("Redigera", "Edit", new { id = item.ActivityId }) |*@
            @Html.ActionLink("Detaljer", "Details", new { id = item.ActivityId }) |
            @*@Html.ActionLink("Radera", "Delete", new { id = item.ActivityId })*@

            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Teacher"))
                {
                    @Html.ActionLink("Radera", "Delete", new { id = item.ActivityId })
                }
            }
            
        </td>
    </tr>
}

</table>
