@model LearningManagementSystem.Models.Course

@{
    ViewBag.Title = "Delete";
}

<h2>Kurs</h2>

@*<h3>Är du säker på att du vill radera kursen?</h3>*@
<div>
    <h4>Radera kurs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Kursnamn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
           Beskrivning
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseDescription)
        </dd>

        <dt>
            Startdatum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseStart)
        </dd>

        <dt>
           Slutdatum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseEnd)
        </dd>

        <dt>
            Gruppid
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Radera" class="btn btn-default" /> |
            @Html.ActionLink("Tillbaka", "Index")
        </div>
    }
</div>
