@model LearningManagementSystem.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.CourseName)</h2>

@*<h2>Kurs</h2>*@

<div>
    @*<h4>Kursdetaljer</h4>*@
    <hr />
    <h4>@Html.DisplayFor(model => model.CourseDescription)</h4>
    <dl>
        @*<dt>
                @Html.DisplayNameFor(model => model.CourseName)
            </dt>*@

        @*<dd>
                @Html.DisplayFor(model => model.CourseName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CourseDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseDescription)
            </dd>

            <dt>
              @Html.DisplayNameFor(model => model.CourseStart)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseStart)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CourseEnd)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseEnd)
            </dd>*@

    </dl>
    <dl>
        @Html.Label("Period: ")

        @Html.DisplayFor(model => model.CourseStart) -

        @Html.DisplayFor(model => model.CourseEnd)
    </dl>
    <dl>

        @Html.Label("Tillhör grupp: ")

        @Html.DisplayFor(model => model.Group.GroupName)


    </dl>
    <dl>
        <dd>
            <table class="table">
                <tr>
                    <th>Aktivitet</th>
                    <th>Period</th>
                </tr>

                @foreach (var activity in Model.Activities)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => activity.ActivityName) </td>
                        <td>@Html.DisplayFor(modelItem => activity.ActivityStart) - @Html.DisplayFor(modelItem => activity.ActivityEnd)</td>
                    </tr>
                }

            </table>
        </dd>

    </dl>
</div>
<p>
    <div>
        @if (User.Identity.IsAuthenticated)
        {
            if (User.IsInRole("Teacher"))
            {
                @Html.ActionLink("Aktiviteter för kursen", "CourseActivities", "Courses", new { id = Model.CourseId }, new { @class = "btn btn-warning", @style = "color:white" })
            }
        }
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Teacher"))
        {
        <p>
            @Html.ActionLink("Redigera", "Edit", new { id = Model.CourseId }) |
            @Html.ActionLink("Tillbaka", "Index")
        </p>
        }
    }

    @* @Html.ActionLink("Redigera", "Edit", new { id = Model.CourseId }) |*@
    </p>
