@model IEnumerable<LearningManagementSystem.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Kurs</h2>

<p>
    @Html.ActionLink("Skapa kurs", "Create")
</p>
<table class="table">
    <tr>
        <th>
           @Html.DisplayNameFor(model => model.FirstOrDefault().CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CourseStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CourseEnd)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseEnd)
        </td>
        <td>
            @Html.ActionLink("Redigera", "Edit", new { id=item.CourseId }) |
            @Html.ActionLink("Detaljer", "Details", new { id=item.CourseId }) |
            @Html.ActionLink("Radera", "Delete", new { id=item.CourseId })
        </td>
    </tr>
}

</table>
