@model LearningManagementSystem.Models.Document

@{
    ViewBag.Title = "Details";
}

<div>
<h4>Dokumentdetaljer</h4>
<hr />
<dl class="dl-horizontal">
    
    <dt>
        @Html.DisplayNameFor(model => model.DocumentName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DocumentName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Description)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.FileName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.FileName)
   </dd>

    <dt>
    @*@Html.DisplayNameFor(model => model.Uploader.FirstName)*@
    @Html.Label("Uppladdat av")
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Uploader.FirstName) @Html.DisplayFor(model => model.Uploader.LastName)
    </dd>

    
    @*<dt>
            @Html.DisplayNameFor(model => model.FilePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilePath)
        </dd>*@

    <dt>
        @Html.DisplayNameFor(model => model.UploadDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.UploadDate)
    </dd>

    @*<dt>
            @Html.DisplayNameFor(model => model.GroupId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityId)
        </dd>*@

</dl>
</div>
<p>
    @Html.ActionLink("Redigera", "Edit", new { id = Model.DocumentId }) |
    @Html.ActionLink("Tillbaka", "Index")
</p>


       
      

 
