@model IEnumerable<LearningManagementSystem.Models.Document>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Uploader.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UploadDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Uploader.FirstName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.DocumentName)
        </td>*@
        <td>
            <a href="@item.FilePath">@Html.DisplayFor(modelItem => item.DocumentName)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UploadDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DocumentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DocumentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DocumentId })
        </td>
    </tr>
}

</table>
