@model LearningManagementSystem.Models.Group

@{
    ViewBag.Title = "Delete";
}

<h2>Grupp</h2>

@*<h3>Är du säker på att du vill radera gruppen?</h3>*@
<div>
    <h4>Radera grupp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupEnd)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Radera" class="btn btn-default btn-danger" /> |
            @Html.ActionLink("Tillbaka", "Index")
        </div>
    }
</div>
