@model LearningManagementSystem.Models.Group

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.GroupName)</h2>

@*<h2>Grupp</h2>*@


<div>

    @*<h4>Gruppdetaljer</h4>*@
    <hr />

    <h4>@Html.DisplayFor(model => model.GroupDescription)</h4>

    <dl class="dl-horizontal">



        @*<dt>
                @Html.DisplayNameFor(model => model.GroupName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GroupName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GroupDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GroupDescription)
            </dd>*@
    </dl>
    <dl>
        @Html.Label("Period: ")

        @Html.DisplayFor(model => model.GroupStart)

        @Html.DisplayFor(model => model.GroupEnd)
    </dl>
    <dl>
        <dd>
            <table class="table">
                <tr>
                    <th>Gruppmedlemmar</th>
                    <th>E-mail</th>
                </tr>

                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => user.FirstName) @Html.DisplayFor(modelItem => user.LastName)</td>
                        <td>@Html.DisplayFor(modelItem => user.Email)</td>
                    </tr>
                }

            </table>
        </dd>

    </dl>
</div>
<div>
    <dl>
        <dd>
            @*<table class="table">
                    <tr>
                        <th>Dokument</th>
                    </tr>
                </table>
                <hr />
                @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="file" name="file" />
                    <br>
                    <input type="submit" value="Ladda upp" />
                }*@
            @*@Html.ActionLink("Ladda upp dokument", "Create", "DocumentPaths", new { id = Model.GroupId }, new { @class = "btn btn-primary", @style = "color:white" })*@
            @*<hr />*@
            <table class="table">
                <tr>
                    <th>Dokument</th>
                    <th>
                       Beskrivning
                    </th>
                    @*<th>
                        @Html.Label("Uppladdat av")
                    </th>*@
                </tr>

                @foreach (var item in Model.Documents)
                {
                    <tr>
                    <td>
                        <a href="@item.FilePath">@Html.DisplayFor(modelItem => item.DocumentName)</a>
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Uploader.FirstName) @Html.DisplayFor(modelItem => item.Uploader.LastName)
                    <td>*@  
                    </tr>
                }

            </table>
        </dd>

    </dl>
</div>
<p>
    <div>

    </div>
    <div>
        <hr />
        @Html.ActionLink("Kurser för gruppen", "GroupCourses", "Groups", new { id = Model.GroupId }, new { @class = "btn btn-warning", @style = "color:white" })
        @*@Html.ActionLink("Användare", "Index", "Account", new { id = Model.GroupId }, new { @class = "btn btn-warning", @style = "color:white" })*@
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Teacher"))
        {
        <p>
            @Html.ActionLink("Redigera", "Edit", new { id = Model.GroupId }) |
            @Html.ActionLink("Tillbaka", "Index")
        </p>
        }
        @*else if (User.IsInRole("Student")) 
        {
            <p>
                @Html.ActionLink("Tillbaka", "Details")
            </p>
        }*@

     }
     
   @* @Html.ActionLink("Redigera", "Edit", new { id = Model.GroupId }) |*@
 