@model LearningManagementSystem.Models.Group

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.GroupName)</h2>

@*<h2>Grupp</h2>*@


<div>

    @*<h4>Gruppdetaljer</h4>*@
    <hr />

    <h4>@Html.DisplayFor(model => model.GroupDescription)</h4>

    <dl class="dl-horizontal">



        @*<dt>
                @Html.DisplayNameFor(model => model.GroupName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GroupName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GroupDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GroupDescription)
            </dd>*@
        </dl>
        <dl>
                @Html.Label("Period: ")

                @Html.DisplayFor(model => model.GroupStart) 

                @Html.DisplayFor(model => model.GroupEnd)
    </dl> 
    <dl>   
        <dd>
            <table class="table">
                <tr>
                    <th>Gruppmedlemmar</th>
                    <th>E-mail</th>
                </tr>

                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => user.FirstName) @Html.DisplayFor(modelItem => user.LastName)</td>
                        <td>@Html.DisplayFor(modelItem => user.Email)</td>
                    </tr>
                }

            </table>
        </dd>

    </dl> 
</div>
<p>
    <div>
        @* Fixa så att gå till lista över tillhörande kurser och deltagare *@
        @Html.ActionLink("Kurser", "Index", "Courses", new { id = Model.GroupId }, new { @class = "btn btn-warning", @style = "color:white" })
        @*@Html.ActionLink("Deltagare", "Index", "Courses", new { id = Model.GroupId }, new { @class = "btn btn-warning", @style = "color:white" })*@
    </div>

    @if (User.Identity.IsAuthenticated)
    {
    if (User.IsInRole("Teacher"))
    {
    @Html.ActionLink("Redigera", "Edit", new { id = Model.GroupId })
    }
    }

   @* @Html.ActionLink("Redigera", "Edit", new { id = Model.GroupId }) |*@
    @Html.ActionLink("Tillbaka", "Index")
</p>
