@model IEnumerable<LearningManagementSystem.Models.Group>

@{
    ViewBag.Title = "Index";
}

<h2>Grupper</h2>
<p>
    <input type="button" value="Skapa grupp" class="btn btn-default btn-primary" onclick=" location.href='@Url.Action("Create","Groups")' " />
</p>
<h4 class="text-danger"> @TempData["Faultmessage"]</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().GroupName)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.GroupDescription)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().GroupStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().GroupEnd)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.GroupDescription)
                </td>*@

            <td>
                @Html.DisplayFor(modelItem => item.GroupStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupEnd)
            </td>
            <td>
                @Html.ActionLink("Redigera", "Edit", new { id = item.GroupId }) |
                @Html.ActionLink("Detailjer", "Details", new { id = item.GroupId }) |
                @Html.ActionLink("Radera", "Delete", new { id = item.GroupId })
            </td>
        </tr>
    }
</table>

<p>
    <input type="button" value="Administrera användare" class="btn btn-default btn-info" onclick=" location.href='@Url.Action("Index","Account")' " />
    <input type="button" value="Administrera kurser" class="btn btn-default btn-info" onclick=" location.href='@Url.Action("Index","Courses")' " />
    <input type="button" value="Administrera aktiviteter" class="btn btn-default btn-info" onclick=" location.href='@Url.Action("Index","Activities")' " />
    <input type="button" value="Administrera dokument" class="btn btn-default btn-info" onclick=" location.href='@Url.Action("Index","Documents")' " />
</p>
